@import "generales";
@import "cuerpo";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Roboto+Slab:wght@100&display=swap");






@media screen and (max-width: 900px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    flex: 1;
  }
  .contenedor-imagen {
    height: 50vh;
  }
  main .contenedor {
    flex-direction: column;
  }
  aside {
    position: static;
    margin: 40xp 0 0 0;
  }
}